#basic h2,
#basic h3 {
    font-weight: normal;
}

#basic h2 {
    font-size: 32px;
}

#basic h3 {
    font-size: 24px;
    background: #ecf0f1;
    letter-spacing: 3px;
    margin-bottom: 0;
}

#basic #content p {
    font-size: 18px;
}

#basic #content a {
    font-weight: normal;
}

#basic #content li {
    list-style: none;
}
