div#toolbar {
	margin-left: -2px;
	margin-bottom: 20px;
}

table#qv,
table.qv-disable {
    width: 500px;
    background-color: #f1f1f1;
    border: 1px #bdc3c7 solid;
    border-spacing: 2px;
    border-collapse: separate;
    line-height: 125%;

    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

table#qv td,
table.qv-disable td {
	background-color: white;
	border: 1px #bdc3c7 solid;
	text-align: center;
}

table#qv td.highlight {
	background-color: #2980b9;
	color: #ffffff;
}

button {
	background: #eee; /* Old browsers */
	background: #eee -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(0,0,0,.05) 100%); /* FF3.6+ */
	background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(0,0,0,.05))); /* Chrome,Safari4+ */
	background: #eee -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,0,0,.05) 100%); /* Chrome10+,Safari5.1+ */
	background: #eee -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,0,0,.05) 100%); /* Opera11.10+ */
	background: #eee -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,0,0,.05) 100%); /* IE10+ */
	background: #eee linear-gradient(top, rgba(255,255,255,1) 0%,rgba(0,0,0,.05) 100%); /* W3C */
	border: 1px solid #aaa;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #444;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	/*text-shadow: 0 1px rgba(255, 255, 255, .75);*/
	cursor: pointer;
	margin-bottom: 6px;
	line-height: normal;
	padding: 6px 10px;
	font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	outline: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

button:hover {
	color: #222;
	background: #ddd; /* Old browsers */
	background: #ddd -moz-linear-gradient(top, rgba(255,255,255,.9) 0%, rgba(0,0,0,.1) 100%); /* FF3.6+ */
	background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.9)), color-stop(100%,rgba(0,0,0,.1))); /* Chrome,Safari4+ */
	background: #ddd -webkit-linear-gradient(top, rgba(255,255,255,.9) 0%,rgba(0,0,0,.1) 100%); /* Chrome10+,Safari5.1+ */
	background: #ddd -o-linear-gradient(top, rgba(255,255,255,.9) 0%,rgba(0,0,0,.1) 100%); /* Opera11.10+ */
	background: #ddd -ms-linear-gradient(top, rgba(255,255,255,.9) 0%,rgba(0,0,0,.1) 100%); /* IE10+ */
	background: #ddd linear-gradient(top, rgba(255,255,255,.9) 0%,rgba(0,0,0,.1) 100%); /* W3C */
	border: 1px solid #888;
	border-top: 1px solid #aaa;
	border-left: 1px solid #aaa;
}

button:active {
	border: 1px solid #666;
	background: #ccc; /* Old browsers */
	background: #ccc -moz-linear-gradient(top, rgba(255,255,255,.75) 0%, rgba(10,10,10,.1) 100%); /* FF3.6+ */
	background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.75)), color-stop(100%,rgba(10,10,10,.1))); /* Chrome,Safari4+ */
	background: #ccc -webkit-linear-gradient(top, rgba(255,255,255,.75) 0%,rgba(10,10,10,.1) 100%); /* Chrome10+,Safari5.1+ */
	background: #ccc -o-linear-gradient(top, rgba(255,255,255,.75) 0%,rgba(10,10,10,.1) 100%); /* Opera11.10+ */
	background: #ccc -ms-linear-gradient(top, rgba(255,255,255,.75) 0%,rgba(10,10,10,.1) 100%); /* IE10+ */
	background: #ccc linear-gradient(top, rgba(255,255,255,.75) 0%,rgba(10,10,10,.1) 100%); /* W3C */
}