{% capture home_link %}{{ "/" | prepend: site.baseurl }}{% endcapture %}
{% capture category_link %}{{ "/category.html" | prepend: site.baseurl }}{% endcapture %}
{% capture quickviz_link %}{{ "/quickviz.html" | prepend: site.baseurl }}{% endcapture %}
{% capture about_link %}{{ "/about.html" | prepend: site.baseurl }}{% endcapture %}
{% capture css_link %}{{ "/css/" | prepend: site.baseurl }}{% endcapture %}
{% capture img_link %}{{ "/img/" | prepend: site.baseurl }}{% endcapture %}
{% capture js_link %}{{ "/js/" | prepend: site.baseurl }}{% endcapture %}
