@font-face {
  font-family: 'PT Serif';
  src: url('/font/PTF55F.eot');
  src: url('/font/PTF55F.eot?#iefix') format('embedded-opentype'),
       url('/font/PTF55F.woff2') format('woff2'),
       url('/font/PTF55F.woff') format('woff'),
       url('/font/PTF55F.ttf') format('truetype'),
       url('/font/PTF55F.svg#PTSerif-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
