---
layout: default
---

<link rel="stylesheet" href="/css/jquery.mmenu.css">
<link rel="stylesheet" href="/css/font-icon.css">
<link rel="stylesheet" href="/css/index.css">

<a id="navicon" class="font-icon-menu needsclick" href="#slide-menu"></a>

<div class="index clearfix">
  {% include sidemenu.html %}
  {{ content }}
</div>

<script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="/js/jquery.mmenu.min.js"></script>
<script type="text/javascript" src="/js/fastclick.min.js"></script>

<script type="text/javascript">
  $(function(){
    $("#menu").clone().attr('id', 'slide-menu').mmenu({});
    FastClick.attach(document.body);
  });
</script>
