---
layout: default
---

{% include define.html %}

<link rel="stylesheet" type="text/css" href="{{ css_link }}jquery.mmenu.css">
<link rel="stylesheet" type="text/css" href="{{ css_link }}font-icon.css">
<link rel="stylesheet" type="text/css" href="{{ css_link }}index.css">

<a id="navicon" class="font-icon-menu needsclick" href="#slide-menu"></a>

<div class="index clearfix">
  {% include sidemenu.html %}
  {{ content }}
</div>

<script type="text/javascript" src="{{ js_link }}jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="{{ js_link }}jquery.mmenu.min.js"></script>
<script type="text/javascript" src="{{ js_link }}fastclick.min.js"></script>

<script type="text/javascript">
  $(function(){
    $("#menu").clone().attr('id', 'slide-menu').mmenu({});
    FastClick.attach(document.body);
  });
</script>
